<div class="center jumbotron">
    <h1>自己管理スケジュールアプリ</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div class="box"><p><%= image_tag "top.jpg" %></p></div>
</div>
