<li>
    <% if user.image? %>
        <%= image_tag user.image.url, :size =>'160x160' %>
    <% else %>
        <%= image_tag "default.jpg", :size =>'160x160' %>
    <% end %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                        data: { confirm: "You sure?" } %>
    <% end %>
</li>
