<footer class="footer">
    <nav>
        <ul>
            <li style="background-color:white" colspan="2"><a href="https://www.shibaura-it.ac.jp">サイト</a></li>
        </ul>
    </nav>
</footer>
