<footer class="footer">
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="https://www.shibaura-it.ac.jp">サイト</a></li>
        </ul>
    </nav>
</footer>
